# R

## Quick Start Basics

### Variable Object

In [3]:
var_a <- 2
print(var_a)

[1] 2

In [5]:
var_b = 3
print(var_b)

[1] 3

### Check Object Type

In [4]:
# In this case, it's a numeric type
class(var_a)

[1] "numeric"

### List

In [31]:
list_a <- c(0, 1, 2)
list_a

[1] 0 1 2

In [32]:
# It's inclusive start till end, unlike Python which leaves the last out
list_b <- c(0:6)
list_b

[1] 0 1 2 3 4 5 6

In [33]:
# Similar to a Python dictionary
list_c <- list(john_height=120, doe_height=150)
list_c

$john_height
[1] 120

$doe_height
[1] 150

In [34]:
# Get keys only via names()
names(list_c)

[1] "john_height" "doe_height"

In [37]:
# Get values only via uname()
unname(list_c)

[[1]]
[1] 120

[[2]]
[1] 150

### For Loop

In [40]:
for (i in c(0:3)) {
    print(i)
}

[1] 0
[1] 1
[1] 2
[1] 3

### While Loop

In [48]:
# Be careful, you might end up in an infinite loop
# if say i = -1
i <- 0
while (i < 3) {
    stdout_str = paste('Yet to reach 3, i is: ', i)
    print(stdout_str)
    i <- i + 1
}

print('Reached 3!')

[1] "Yet to reach 3, i is:  0"
[1] "Yet to reach 3, i is:  1"
[1] "Yet to reach 3, i is:  2"
[1] "Reached 3!"